.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  flex-basis: calc((100% - 40px) / 3);
}

.gallery-image {
  width: 100%;
  display: block;
  border-radius: 6px;
  cursor: pointer;
}
